.spacer{ :style => 'height: 100px;' }

%h1 #500

%p
  Internal server error.

.spacer{ :style => 'height: 100px;' }

- if Rails.env == "production" or Rails.env == "development"
  %p.notes
    %p= link_to "Back to the front page."
